<th style="background-image: linear-gradient(180deg, #bd0314 0%, #721c31 70%);">
    <div class="col-10 row" style="color:white;">
        @ColumnTitle
    </div>
</th>

@code {
    [Parameter]
    public string ColumnTitle { get; set; }
 }
